<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.free-icons-download.net/images/office-building-icon-68706.png">

    <title>TwojeNieruchomości</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.js"></script>
  </head>

  <body>
    <form class="form-signin" action="/validateLogin" method="post">
      <div class="text-center mb-4">
        <img class="mb-4" src="http://www.free-icons-download.net/images/office-building-icon-68706.png" alt="" width="90" height="72">
        <h1 class="h3 mb-3 font-weight-normal">TwojeNieruchomości</h1>
        <p>Aplikacja do zarządzania nieruchomościami</p>
      </div>

      <div class="form-label-group">
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="inputEmail" required autofocus>
        <label for="inputEmail">Adres email</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="inputPassword" required>
        <label for="inputPassword">Hasło</label>
      </div>

        <!---
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Zapamiętaj mnie
        </label>
      </div>
      --->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>

    <!---
      <p class="mt-3 mb-3 text-center">lub jeśli nie masz konta</p>
        <a href="signup.html"><button class="btn btn-lg btn-primary btn-block" type="submit"  >Zapisz się</button></a>
    --->
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
    </form>
  </body>
</html>
