{% extends 'userHome_base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/userHome"><span class="fa fa-home"></span> HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/userHomeProperties"><span class="fa fa-building"></span> Nieruchomości</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/userHomeTenants"><span class="fa fa-bed"></span> Najemcy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/userHomeOwners"><span class="fa fa-handshake-o"></span> Właściciele</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="fa fa-area-chart"></span> Raporty</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 col-lg-10 ml-sm-auto">
{#                    <div class="btn-group" style="margin: 8px">#}
{#                    <button type="submit" class="btn btn-primary">Dodaj</button>#}
{#                    <button type="submit" class="btn btn-primary">Usuń</button>#}
{#                    </div>#}
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Miasto</th>
                            <th>Ulica</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in baselist %}
                        <tr>
                            <td>
                                <div class="form-check custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="proplist" id="ids_{{ data.property_id }}" value="{{ data.property_id }}">
                                    <label class="custom-control-label" for="ids_{{ data.property_id }}">
                                        <a href="/userHomePropertyDetail?prop_id={{ data.property_id }}">{{ data.property_id }}</a>
                                    </label>
                                </div>
                            </td>
                            <td>{{ data.property_city }}</td>
                            <td>{{ data.property_street }}</td>
                            <td>{{ prepareStatusBody(data.property_status) | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="delusr" class="btn btn-primary" style="margin: 8px">Usuń</button>
            </main>
        </div>
    </div> <!-- /container -->

{% endblock %}
