{% extends 'userHome_base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/userHome"><span class="fa fa-home"></span> HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/userHomeProperties"><span class="fa fa-building"></span> Nieruchomości</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="fa fa-bed"></span> Najemcy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="fa fa-handshake-o"></span> Właściciele</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="fa fa-area-chart"></span> Raporty</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 col-lg-10 ml-sm-auto">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Miasto</th>
                            <th>Ulica</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in baselist %}
                        <tr>
                            <td><a href="/userHomePropertyDetail?prop_id={{ data.property_id }}">{{ data.property_city }}</a></td>
                            <td>{{ data.property_street }}</td>
                            <td>
                                {% if data.property_status == 0 %}
                                    OK <span class="fa fa-check-circle" style="color:green"></span>
                                {% elif data.property_status != 0 %}
                                    ERR <span class="fa fa-exclamation-circle" style="color:red"></span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div> <!-- /container -->

{% endblock %}
