<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.free-icons-download.net/images/office-building-icon-68706.png">

    <title>TwojeNieruchomości</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">TwojeNieruchomości</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" href="http://www.free-icons-download.net/images/office-building-icon-68706.png">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/baza">Baza</a>
          </li>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/rachunki">Rachunki</a>
          </li>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/raporty">Raporty</a>
          </li>
              </li>
        </ul>
          <form class="form-inline my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Wyloguj</a>
          </li>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><br>Witaj!</h1>
          <p>Witamy w aplikacji do zarządzania wynajmem nieruchomości</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Dowiedz się więcej &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
              <img src="https://cdn4.iconfinder.com/data/icons/stroke-business/512/client_list_text-128.png">
            <h2>Baza</h2>
            <p>Tutaj sprawdzisz co, kto, od kogo wynajmuje</p>
            <p><a class="btn btn-secondary" href="/baza" role="button">Przejdź &raquo;</a></p>
          </div>
          <div class="col-md-4">
              <img src="https://cdn4.iconfinder.com/data/icons/stroke-business/512/tasks_scheduled_folder_google-128.png">
            <h2>Rachunki</h2>
            <p>Tutaj wprowadzisz i sprawdzisz rachunki, możesz też przypomnieć najemcom o ich zaległościach </p>
            <p><a class="btn btn-secondary" href="/rachunki" role="button">Przejdź &raquo;</a></p>
          </div>
          <div class="col-md-4">
              <img src="https://cdn4.iconfinder.com/data/icons/stroke-business/512/report_document_reports_paper-128.png">
            <h2>Raporty</h2>
            <p>Tutaj zobaczysz raporty</p>
            <p><a class="btn btn-secondary" href="/raporty" role="button">Przejdź &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Company 2018</p>
    </footer>

  </body>
</html>