{% extends 'userHome_base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/userHome"><span class="fa fa-home"></span> HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/userHomeProperties">
                                <span class="fa fa-building"></span> Nieruchomości</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="fa fa-bed"></span> Najemcy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="fa fa-handshake-o"></span> Właściciele</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="fa fa-area-chart"></span> Raporty</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 col-lg-10 ml-sm-auto">
                <h3 class="m-bottom-20 underline" style="padding:20px">{{ prop_id }}</h3>
                <dl class="row">
                    <dt class="col-sm-3">Property ID:</dt>
                    <dd class="col-sm-9">{{ prop_id }}</dd>

                    <dt class="col-sm-3">Atrybut 2:</dt>
                    <dd class="col-sm-9">Opis</dd>

                    <dt class="col-sm-3">Atrybut 3:</dt>
                    <dd class="col-sm-9">Opis</dd>
                </dl>
            </main>
        </div>
    </div> <!-- /container -->

{% endblock %}
