{% extends 'userHome_base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/userHome"><span class="fa fa-home"></span> HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/userHomeProperties"><span class="fa fa-building"></span> Nieruchomości</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/userHomeTenants"><span class="fa fa-bed"></span> Najemcy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/userHomeOwners"><span class="fa fa-handshake-o"></span> Właściciele</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="fa fa-area-chart"></span> Raporty</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 col-lg-10 ml-sm-auto">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Płeć</th>
                            <th>Nieruchomość</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in baselist %}
                        <tr>
                            <tr>
                            <td>{{ data.owner_name }}</td>
                            <td>{{ data.owner_surname }}</td>
                            <td>{{ data.owner_gender }}</td>
                            <td><a href="/userHomePropertyDetail?prop_id={{ data.property_id }}">{{ data.property_street }}</a></td>
                        </tr>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div> <!-- /container -->

{% endblock %}
